* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    /* ma-width: fit-content; */
    background-image: url("img/img.jpg");
    background-size: cover;
    
    background-position: center;
    height: 100%;
    min-height: 100vh;
}

.container {

    max-width: none;
    /* box-shadow: 3px 3px 12px black, 3px 3px 15px white; */
    /* border: 0.5px solid black; */
}

.main{
    flex:1;
}

/* .heading {
        width: 100%;
        background-color: aliceblue;
        box-shadow: 3px 3px 12px black, 3px 3px 15px white;
        border: 0.5px solid black;
        text-align: center;
    }
    
    .heading h1 {
        text-shadow: 4px 2px wheat;
        font-size: 4cqmax;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        margin: 0em 0em;
    }
    
    */

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



    header .logo {
        color: beige;
        padding: 2px 10px;
        font-size: 1.4em;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

        header .logo:hover {
            padding: 5px 20px;
            background-color: whitesmoke;
            color: black;
            border-radius: 20px;
        }

    header ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        header ul li {
            list-style: none;
            margin-left: 20px;
        }

            header ul li a {
                text-decoration: none;
                padding: 6px 15px;
                color: beige;
                border-radius: 20px;
            }

                header ul li a:hover,
                header ul li a.active {
                    background-color: aliceblue;
                    color: black;
                }

@media only screen and (max-width:768px) {
    header ul li a {
        text-decoration: none;
        display: block;
        padding: 6px 15px;
        color: beige;
        border-radius: 20px;
    }

    .infocontainer {
        
        /* background-color: pink; */
        height: fit-content;
        width: 100%;
        margin: 23px auto;
    }
}

.navbar {
    width: auto;
    color: white;
    height: 30px;
    background-color: gray;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 0 1px;
}

.menu {
    display: block;
    background-color: red;
}

s

.nav-bar ul {
    display: flex;
    flex-direction: row;
}

.nav-bar ul li a {
    word-spacing: 3px;
    display: flex;
    color: bisque;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 0.2s;
    transition: ease-in-out 0.2s;
    margin: 0 5px;
}

    .nav-bar ul li a .active {
        display: block;
        color: bisque;
        font-size: 20px;
        padding: 10px 25px;
        border-radius: 0.2s;
        transition: ease-in-out 0.2s;
        margin: 0 5px;
    }

    .nav-bar ul li a:hover {
        display: block;
        background-color: antiquewhite;
        color: black;
        font-size: 20px;
        padding: 8px 24px;
        border-radius: 15px;
        transition: ease-in-out 0.2s;
        margin: 0 5px;
    }

@media only screen and (max-width:1320px) {
    .nav-bar {
        padding: 0 50px;
    }
}

@media only screen and (max-width:768px) {
    .navbar {
        padding: 0 30px;
    }
}

@media only screen and (max-width:500px) {
    .menu {
        display: block;
        cursor: pointer;
    }

        .menu .line {
            width: 30px;
            height: 3px;
            background-color: white;
            margin: 6px 0;
        }
}

.content {
    width: 100%;
    margin: 3px 0;
    padding: 10px 5px;
    display: flex;
    justify-content: space-around;
    height: auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    box-shadow: 2px 2px 12px white, inset 3px 3px 12px #232523;
    height: 20rem;
    width: 55%;
}

    .box img {
        height: 20rem;
        object-fit: fill;
        width: 100%;
    }

.box-description {
    /* margin-left: 2px; */
    margin: 2px 2px;
    color: whitesmoke;
    padding: 13px;
    width: 50%;
    height: auto;
    box-shadow: 2px 2px 12px white, inset 3px 3px 12px #232523;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    font-size: 2cqmax;
    border: 0.3px solid black;
}
/* extra */

footer {
    
    color: white;
    box-shadow: 2px 2px 12px white,2px 2px 12px black;
    font-size: 1em;
    flex-shrink:0;
}

footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding: 30px 0;
    position:sticky;
    margin-top:5.6em;
}

    footer h4 {
        color: #222222;
        font-size: 18px;
        margin-top: 0;
    }

    footer p {
        color: #777777;
    }

    footer a {
        color: #777777;
        text-decoration: none;
    }

    footer ul li {
        margin-bottom: 10px;
    }

@media (max-width: 767px) {
    footer {
        padding: 20px 0;
    }

        footer h4 {
            font-size: 16px;
        }

        footer p {
            font-size: 14px;
        }
}


.image-container {
    box-shadow: 2px 2px 12px black,inset 2px 2px 10px white;
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    background-color: gray;
    color: black;
}

.link1 {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 12px white,inset 0 0 12px black;
    height: 140px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .link1:hover {
        background-color: white;
        border-radius: 12px;
        box-shadow: 2px 2px 12px black,inset 2px 2px 10px white;
        height: 140px;
        width: 250px;
        transform: scale(1.1);
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .link1 img {
        object-fit: cover;
        width: 120px;
        height: 100px;
    }
